@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
  <h4>Departmanlar</h4>
  <div id="tree"></div>
</div>

<div class="modal fade" id="Department_modal" role="dialog" aria-labelledby="Department_modalTitle" aria-hidden="true" data-department-id="0">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Department_modalTitle">Departman Adı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="Department_modal-body" class="modal-body">
                <table id="tblEmployee" class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#Id</th>
                      <th scope="col">Sicil No</th>
                      <th scope="col">İsim</th>
                      <th scope="col">Soyisim</th>
                      <th scope="col">Oluşturma Tarihi</th>
                      <th scope="col">Aksiyonlar</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
                <form>
                  <div class="form-row">
                    <div class="col">
                      <input
                        id="EmployeeId"
                        type="number"
                        class="form-control"
                        placeholder="Çalışan Id ile ekle"
                      >
                    </div>
                    <div class="col">
                      <button
                        id="btnDepartmentAssignment"
                        type="button"
                        class="btn btn-primary"
                        onClick="javascript: PostDepartmentAssignment();"
                      >Ekle</button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        let allDepartmentsWithDetails = [], renderedTreeItemIds = [];

        $(document).ready(function () {
            $.get({
                url: "https://localhost:7236/department/allwithdetails",
                success: function (response) {
                    allDepartmentsWithDetails = response.data;
                    $('#tree').append(parseNodes(allDepartmentsWithDetails))
                },
                error: function (response) {

                }
            });

            $('#Department_modal')
                .on("hidden.bs.modal",
                    function () {
                        $('#Department_modalTitle')
                            .text('');
                        $('#tblEmployee tbody')
                            .html('');
                        $('#Department_modal')
                            .data('department-id', 0);
            });
        });

        function parseNodes(nodes) {
            var ol = document.createElement("OL");

            for(var i = 0; i< nodes.length; i++) {
                if (!renderedTreeItemIds.find(x => x == nodes[i].id))
                    ol.appendChild(parseNode(nodes[i]));
                renderedTreeItemIds.push(nodes[i].id);
            }

            return ol;
        }

        function parseNode(node) {
            var li = document.createElement("LI");

            li.innerHTML = `<a href="javascript: OpenDepartmentDetailsModal(${node.id});">${node.name}</a>`;

            if(!renderedTreeItemIds.find(x => x == node.id)
                && node.subDepartments)
                    li.appendChild(parseNodes(node.subDepartments));

            renderedTreeItemIds.push(node.id);

            return li;
        }

        function PutDepartment(data) {
            $.ajax({
                type: 'PUT',
                url: "https://localhost:7236/department",
                data,
                success: function (response) {

                },
                error: function (response) {

                }
            });
        }

        function PostDepartmentAssignment() {
            $.post({
                url: "https://localhost:7236/department/assignment",
                data: {
                    DepartmentId: $('#Department_modal').data('department-id'),
                    EmployeeId: $('#EmployeeId').val()
                },
                success: function (response) {
                    $('#Department_modal').modal("hide");
                },
                error: function (response) {

                }
            });
        }

        function DeleteDepartmentAssignment(departmentAssignmentId) {
            $.ajax({
                type: 'DELETE',
                url: `https://localhost:7236/department/assignment/${departmentAssignmentId}`,
                success: function (response) {

                },
                error: function (response) {

                }
            });
        }

        function OpenDepartmentDetailsModal(departmentId) {
            let department = allDepartmentsWithDetails
                .find(department => department.id == departmentId);
            
            $('#Department_modal').data('department-id', departmentId);

            $('#Department_modalTitle').text(department.name);

            department.assignments.map(assignment => {
                $('#tblEmployee tbody').append(`
                    <tr>
                        <th scope="row">${assignment.employee.id}</th>
                        <td>${assignment.employee.registrationNumber}</td>
                        <td>${assignment.employee.name}</td>
                        <td>${assignment.employee.surname}</td>
                        <td>${assignment.employee.createdTime}</td>
                        <td><button type="button" class="btn btn-danger"
                             onClick="javascript: DeleteDepartmentAssignment(${assignment.id});"
                        >Sil</button></td>
                    </tr>
                `);
            });

            $('#Department_modal').modal("show");
        }
    </script>
}
