@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="https://cdn.kendostatic.com/2014.3.1119/styles/kendo.common.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.kendostatic.com/2014.3.1119/styles/kendo.default.min.css" />

<div class="demo-section k-header">
  <h4>Departmanlar</h4>
  <div id="tree"></div>
</div>

@section Scripts
{
    <script src="https://cdn.kendostatic.com/2014.3.1119/js/kendo.all.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $.get({
                url: "https://localhost:7236/department/allwithdetails",
                success: function (response) {
                    $("#tree").kendoTreeView({
                        dataSource: new kendo.data.HierarchicalDataSource({
                            data: response.data,
                            schema: {
                                model: {
                                    children: "subDepartments"
                                }
                            }
                        }),
                        dataTextField: "name"
                    });
                },
                error: function (response) {

                }
            });
        });

        function PutDepartment(data) {
            $.ajax({
                type: 'PUT',
                url: "https://localhost:7236/department",
                data,
                success: function (response) {

                },
                error: function (response) {

                }
            });
        }

        function PostDepartmentAssignment(data) {
            $.post({
                url: "https://localhost:7236/department/assignment",
                data,
                success: function (response) {

                },
                error: function (response) {

                }
            });
        }

        function DeleteDepartmentAssignment(data) {
            $.ajax({
                type: 'DELETE',
                url: "https://localhost:7236/department/assignment",
                data,
                success: function (response) {

                },
                error: function (response) {

                }
            });
        }
    </script>
}
