@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
  <h4>Departmanlar</h4>
  <div id="tree"></div>
</div>

@section Scripts
{
    <script type="text/javascript">
        let allDepartmentsWithDetails = [], renderedTreeItemIds = [];

        $(document).ready(function () {
            $.get({
                url: "https://localhost:7236/department/allwithdetails",
                success: function (response) {
                    allDepartmentsWithDetails = response.data;
                    $('#tree').append(parseNodes(allDepartmentsWithDetails))
                },
                error: function (response) {

                }
            });
        });

        function parseNodes(nodes) {
            var ol = document.createElement("OL");

            for(var i = 0; i< nodes.length; i++) {
                if (!renderedTreeItemIds.find(x => x == nodes[i].id))
                    ol.appendChild(parseNode(nodes[i]));
                renderedTreeItemIds.push(nodes[i].id);
            }

            return ol;
        }

        function parseNode(node) {
            var li = document.createElement("LI");

            li.innerHTML = node.name;

            if(!renderedTreeItemIds.find(x => x == node.id)
                && node.subDepartments)
                    li.appendChild(parseNodes(node.subDepartments));

            renderedTreeItemIds.push(node.id);

            return li;
        }

        function PutDepartment(data) {
            $.ajax({
                type: 'PUT',
                url: "https://localhost:7236/department",
                data,
                success: function (response) {

                },
                error: function (response) {

                }
            });
        }

        function PostDepartmentAssignment(data) {
            $.post({
                url: "https://localhost:7236/department/assignment",
                data,
                success: function (response) {

                },
                error: function (response) {

                }
            });
        }

        function DeleteDepartmentAssignment(data) {
            $.ajax({
                type: 'DELETE',
                url: "https://localhost:7236/department/assignment",
                data,
                success: function (response) {

                },
                error: function (response) {

                }
            });
        }
    </script>
}
